In [3]:
# Libraries
import requests
import os
import pandas as pd

#SQL
import sqlite3
from sqlite3 import Error
import csv

In [18]:
# Load CSV:
gen1_df = pd.read_csv('../data/gen1_pokemon_stats.csv')
gen1_df.index.name='id'
gen1_df.head()

,hp,attack,defense,special-attack,special-defense,speed,type_1,type_2,Pokemon,totalstat
id,,,,,,,,,,
0,45,49,49,65,65,45,grass,poison,bulbasaur,318
1,60,62,63,80,80,60,grass,poison,ivysaur,405
2,80,82,83,100,100,80,grass,poison,venusaur,525
3,39,52,43,60,50,65,fire,NaN,charmander,309
4,58,64,58,80,65,80,fire,NaN,charmeleon,405

In [5]:
connection = create_connection("../data/project.sqlite")

Connection to SQLite DB successful

In [6]:
# Setup standard functions:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")
        
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

cursor = connection.cursor()

In [16]:
drop_pokemon_table = """
DROP TABLE IF EXISTS pokemon_gen1
;"""

create_pokemon_table = """
CREATE TABLE IF NOT EXISTS pokemon_gen1 (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  hp INTEGER,
  attack INTEGER,
  defence INTEGER,
  special_attack INTEGER,
  special_defence INTEGER,
  speed INTEGER,
  type_1 TEXT,
  type_2 TEXT,
  name TEXT,
  totalstat INTEGER
);
"""
execute_query(connection, drop_pokemon_table)
execute_query(connection, create_pokemon_table)

Query executed successfully
Query executed successfully

In [19]:
gen1_df.to_sql('pokemon_gen1', con=connection, if_exists='replace', index=True, index_label=None)

151

In [20]:
select_all = "SELECT * FROM pokemon_gen1 LIMIT 5"
execute_read_query(connection, select_all)

[(0, 45, 49, 49, 65, 65, 45, 'grass', 'poison', 'bulbasaur', 318),
 (1, 60, 62, 63, 80, 80, 60, 'grass', 'poison', 'ivysaur', 405),
 (2, 80, 82, 83, 100, 100, 80, 'grass', 'poison', 'venusaur', 525),
 (3, 39, 52, 43, 60, 50, 65, 'fire', None, 'charmander', 309),
 (4, 58, 64, 58, 80, 65, 80, 'fire', None, 'charmeleon', 405)]